.pokedex__poke {
    padding-top: 20px;

  }
  .card__pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card-container {
    display: flex;
    max-width: 100%;
    gap: 1px;
    place-content: center;
    justify-content: center;
    align-content: center;
    justify-self: center;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 100%;
    flex-wrap: wrap;
 
    
}
.pokedex__welcome-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
    
}
.pokedex__welcome {
    font-size: 1.5rem;
    padding-bottom: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.pokedex__menus {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}
.pokemon__input {
    padding: 10px 20px;
    box-shadow: -1px 2px 10px #0004;
    font-size: 1.2rem;
    height: 40px;
    width: 300px;
  }
.pokemon__btn {
    padding: 10px 20px;
    color: var(--color-white);
    background-color: var(--color-red);
    box-shadow: -1px 1px 10px #0004;
    cursor: pointer;
    height: 40px;
}
.pokemon__select {
    padding: 10px 20px;
    box-shadow: -1px 2px 10px #0004;
    font-size: 1.2rem;
    height: 40px;
    width: 300px;
    max-width: 100%;
}
.pagination {
    justify-self: center;
}


