
.pokemon_id {
    background-color: orange;
}

.pokemon_id-img {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;

}

.titleid__pokemon {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    
}
.pokeid__name {
    text-transform: capitalize;
}
.height-weight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100px;
    gap: 50px;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 1.05rem;
}
.type-abilities {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 80%;
    gap: 4px;
    flex-wrap: wrap;
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-transform: capitalize;
}
.poke__abilities {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 300px));
}
.poke__type {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.stats {
    max-width: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.stats__title {
    text-align: center;
    padding: 20px;
    background-color: white;
}
.stats__poke {
    /* max-width: 70%; */
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 30px;

}
.stats__name {
    text-transform: capitalize;
}
.stats__number {
    font-size: 13px;
}
.stat__bar {
    width: 90%;
    height: 8px;
    border-radius: 5px;
    max-width: 100%;
    background-color: gainsboro;
}
.stat__base-stat {
    background-color: grey;
    /* width: 100%; */
    height: 8px;
    border-radius: 5px;
  
}
.moves {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding: 20px;
    background-color: white;
}
.moves__title {
    text-align: center;
    padding: 20px;
}
.moves__poke {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, 150px);
    padding: 20px;
    font-size: 13px;
}
.move__poke {
    padding: 3px;
    text-align: center  ;
}